body {
    background-color: #F6F5F2;
}
.scrolled{
    background-color: rgba(92, 132, 101, 0.6) !important;
    background-image: linear-gradient(10deg, rgba(92, 132, 101, 0.8) 30%, rgb(54, 109, 141, 0.5) 100%);
}

nav.scrolled li.nav-item:not(.active) a, nav.scrolled a.navbar-brand {
    color: #F6F5F2;
}

.bg-gradient-yellow {
    background-image: linear-gradient(310deg, #a4352d 0%, #D85A28 100%);
    color: White;
}

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #a4352d 0%, #D85A28 100%);
}

h1, .h1, .h1, h2, .h2, .h2, h3, .h3, .h3, h4, .h4, .h4, h5, .h5, .h5, h6, .h6, .h6 {
    color: #0F273E;
}

.text-dark {
    color: #0F273E !important;
}

.alert-warning {
    z-index: -1;
    position: relative;
    top: -30px;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
}

.active{
    font-weight: bolder !important;
}

.logo-laihc {
    width: 100px;
    margin-bottom: 20px;
}